# Docker
.dockerignore
Dockerfile
docker-compose*.yml

# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
*.lcov

# Next.js
.next/
out/
build
dist

# Production
.env.local
.env.production.local
.env

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# SSL and Nginx
certbot/
nginx/*.log

# WordPress
wordpress/wp-content/
wordpress/wp-config.php

# Database
*.sql
*.db
